.root {
    height: 100vh;
}

body {
    height: 100vh;
}

.lm_root {
    height: 100vh;
}

.goldenLayout {
    height: 100vh;
}

.mapboxgl-canvas {
	left: 0;
}

.uncertaintyModeBox:hover, .loadBox:hover, .sensorBox:hover, .predictionBox:hover {
	fill: #7a7a7a;
	fill-opacity: 0.5;
}

.grid-padding {
	width: 12px;
	min-height: 1px;
}

.mapboxgl-ctrl-bottom-left {
	display: none;
}

.mapboxgl-ctrl-bottom-right {
	display: none;
}